html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.Placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 16/10;
}
.ScrollScene,
.ViewportScrollScene {
  outline: 1px dashed rgba(255, 0, 255, 0.33);
  position: relative;
}

.ScrollScene:after,
.ViewportScrollScene:after {
  content: 'ScrollScene';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 0, 1);
  color: black;
  font-size: 10px;
  padding: 5px;
}

.StickyContainer {
  height: 500vh;
}

.SceneContainer {
  position: sticky;
  top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 2rem;
  overflow: hidden;
}

/* Debug styles */
.Debug {
  outline: 1px dashed rgba(255, 255, 255, 0.33);
}
.Debug:after {
  content: 'StickyScrollScene';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

.ViewportScrollScene:after {
  content: 'ViewportScrollScene';
}
