.button {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  border-radius: var(--small-radius);
  color: #fff;
  padding: 0.4em 1em;
  text-decoration: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
