.about-me {
  background-color: var(--black);
  padding: 10em 0;
  background: var(--black);
  color: var(--white-60);
}

.about-me_container {
  width: 70vw;
  margin: auto;
  border-radius: var(--medium-radius);
  border: 1px solid var(--white-10);
  width: 70vw;
  padding: 2em;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(12, 1fr);
}

.about-me_text {
  grid-column-start: 6;
  grid-column-end: 12;
}

.about-me_paragraphs {
  margin-top: 5em;
  display: flex;
  gap: 2em;
}
.about-me_paragraphs p {
  width: 50%;
}

.about-me img {
  grid-column-start: 1;
  grid-column-end: 5;
  border-radius: var(--medium-radius);
}

.about-me_container .about-me-label {
  grid-column-start: 1;
  grid-column-end: 13;
  padding-bottom: 8em;
}

.about-me h2 {
  grid-column-start: 1;
  grid-column-end: 13;
}

.about-me h3 {
  color: var(--white);
  grid-column-start: 6;
  grid-column-end: 12;
}
.about-me p {
  grid-column-start: 6;
  grid-column-end: 12;
}

.list-of-skills {
  grid-column-start: 6;
  grid-column-end: 12;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin: 10em 0;
}

.list-of-skills .skills_one-skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2em;
  background-color: var(--white-05);
  border-radius: var(--medium-radius);
  padding: 1em 1em 4em 1em;
}
