body {
  font-family: var(--font-switzer), sans-serif;
  font-weight: 300;
  font-size: var(--step--1);
  color: var(--grey-100);
}

h2 {
  font-size: var(--step-5);
  font-weight: 300;
  line-height: 120%;
}

h3 {
  font-size: var(--step-3);
  font-weight: 300;
  line-height: 120%;
}
h4 {
  font-size: var(--step-2);
  font-weight: 300;
  line-height: 120%;
}

h5 {
  font-size: var(--step-1);
  font-weight: 300;
  line-height: 120%;
  hanging-punctuation: first;
  text-indent: -0.4em;
}

p {
  font-size: var(--step--1);
  line-height: 160%;
}
